<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container"></div>
    <div class="smallbox"></div> 
    <div class="smallbox2"></div> 
    <p>Loream is a spectator</p> 
</body>
</html>.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 400px;
    width: 400px;
    background-color: rgb(199, 18, 18);
    margin: auto;
    margin-top: 100px;
    position: relative;
}

p{
    color: white;
}

.smallbox{
    height: 50px;
    width: 50px;
    background-color: rgb(30,255,0);
}

.smallbox2{
    height: 50px;
    width: 50px;
    background-color: rgb(229,255,0);
}
