<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table,th,td{
            padding: 8px;
            text-align: center;
            border: 1px solid black;
        }
        tr:hover{
            background-color: lightblue;
        }
        table{
            width: 100%;
            border-collapse: collapse;
        }
        th,td{
            padding: 15px;
        }
        th{
            height:70px;
            width:20px;
            text-align: left;
        }
        td{
            text-align:center;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>styling lists in css</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <h1>code with abi</h1>  
    <table>
        <tr>
            <th>F Name</th>
            <th>L Name</th>
        </tr>
        <td>Abi</td>
        <td>Coder</td>
    </table>  
</body>
</html> 
